<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form action="/" method= "POST">
        Name (optional):
        <input type= "text" name="name" placeholder="Name">
        <br> 
        Sex:
        <br>
        <input type="radio" name="sex" value="female"> Female
        <br>
        <input type="radio" name="sex" value="male"> Male
        <br>
        Ethnic Background:
        <input type="text" name="bg">
        <br>
        Other Major ilnesses:
        <input type="text" name="illness">
        <br>
        Medications taken regularly:
        <input type="text" name="meds">
        <br>
        Age when allergic signs started showing:
        <input type="number" name="age">
        <br>
        <h4>What were the signs of the allergic reaction? </h4>
        <input type="checkbox" name="signs" value= "rash">Local Rash
        <br>
        <input type="checkbox" name="signs" value= "swelling"> Local Swelling
        <br>
        <input type="checkbox" name="signs" value= "vomit"> Vomitting and/or Diarrhea 
        <br>
        <input type="checkbox" name="signs" value= "Runny Nose">Runny Nose
        <br>
        <input type="checkbox" name="signs" value= "cough"> Coughing
        <br>
        <input type="checkbox" name="signs" value= "wheezing"> Wheezing
        <br>
        <input type="checkbox" name="signs" value= "breath"> Shortness of Breath
        <br>
        <input type="checkbox" name="signs" value= "loss"> Loss of Consciousness
        <br>
        <h4> Other? </h4>
        <input type="text" name="other"> 
        <br>
        Age of diagnosis:
        <input type="number" name="age1">
        <h4>Diagnosed by:</h4>
        <input type="radio" name="diagnos" value="ad"> Allergy Doctor
        <br>
        <input type="radio" name="diagnos" value="ped">Pediatrician 
        <br>
        <input type="radio" name="diagnos" value="fp"> Family physician 
        <br>
        <input type="radio" name="diagnos" value="gas"> Gastroenterologist 
        <br>
        <h2>How was the diagnosis made?</h2>
        Skin prick test (value in mm): 
        <input type="text" name="skin_prick_test">
        <br>
        Blood test for peanut specific IgE (value): 
        <input type="text" name="blood_test_ige">
        <br>
        Positive / negative food challenge test (threshold dose): 
        <input type="text" name="food_challenge">
        <br>
        <h2>Does the patient have an additional allergy to one or more of the following foods?</h2>
    <input type="checkbox" name="food_allergies" value="cow_milk"> Cow Milk
    <input type="checkbox" name="food_allergies" value="eggs"> Eggs
    <input type="checkbox" name="food_allergies" value="sesame"> Sesame
    <input type="checkbox" name="food_allergies" value="fish_seafood"> Fish or Seafood
    <input type="checkbox" name="food_allergies" value="wheat"> Wheat
    <input type="checkbox" name="food_allergies" value="soy"> Soy
    <input type="checkbox" name="food_allergies" value="various_nuts"> Various Nuts
    <input type="checkbox" name="food_allergies" value="kiwi"> Kiwi
    <input type="checkbox" name="food_allergies" value="mango"> Mango 
    <br>
    Other Foods: 
    <input type="text" name="other_foods">
    <br>
    <h2>Does the patient suffer allergic reactions to any additional allergens?</h2>
    <input type="checkbox" name="additional_allergens" value="dust"> Dust
    <input type="checkbox" name="additional_allergens" value="mold"> Mold
    <input type="checkbox" name="additional_allergens" value="animals"> Animals
    Specify animals: 
    <input type="text" name="animals_specify">
    <br>
    <input type="checkbox" name="additional_allergens" value="trees"> Trees
    Specify trees: <input type="text" name="trees_specify"><br>
    <input type="checkbox" name="additional_allergens" value="grass"> Grass
    <input type="checkbox" name="additional_allergens" value="other_plants"> Other Plants
    <br>
    Specify other plants: 
    <input type="text" name="other_plants_specify">
    <br>
    <input type="checkbox" name="additional_allergens" value="latex"> Latex
    <input type="checkbox" name="additional_allergens" value="other_allergens"> Other Allergens
    <br>
    Specify other allergens: <input type="text" name="other_allergens_specify">
    <br>

    <h2>Does the patient suffer from other allergic diseases?</h2>
    <input type="checkbox" name="other_allergic_diseases" value="atopic_dermatitis"> Atopic Dermatitis
    <input type="checkbox" name="other_allergic_diseases" value="chronic_rhinitis"> Chronic Rhinitis
    <input type="checkbox" name="other_allergic_diseases" value="allergic_conjunctivitis"> Allergic Conjunctivitis
    <input type="checkbox" name="other_allergic_diseases" value="asthma_spastic_bronchitis"> Asthma / Spastic Bronchitis
    <input type="checkbox" name="other_allergic_diseases" value="allergy_to_drugs"> Allergy to any Drugs
    Other Allergic Diseases: <input type="text" name="other_allergic_diseases">
    <br>

    <h2>Is the patient receiving preventive treatment?</h2>
    <input type="checkbox" name="preventive_treatment" value="pills"> Pills / Syrup
    <input type="checkbox" name="preventive_treatment" value="eye_drops"> Eye Drops
    <input type="checkbox" name="preventive_treatment" value="nasal_spray"> Nasal Spray
    <input type="checkbox" name="preventive_treatment" value="asthma_inhaler"> Asthma Inhaler
    <br>

    <h2>Do any first-degree family members (parents and siblings) suffer or have suffered from any of the following diseases?</h2>
    <input type="checkbox" name="family_morbidity" value="food_allergy"> Food Allergy
    <input type="checkbox" name="family_morbidity" value="atopic_dermatitis"> Atopic Dermatitis
    <input type="checkbox" name="family_morbidity" value="chronic_rhinitis"> Chronic Rhinitis
    <input type="checkbox" name="family_morbidity" value="allergic_conjunctivitis"> Allergic Conjunctivitis
    <input type="checkbox" name="family_morbidity" value="asthma_spastic_bronchitis"> Asthma / Spastic Bronchitis
    <br>
    Details on family morbidity: 
    <input type="text" name="family_morbidity_details">
    <br>

    <input type="submit" value="Submit">

    
</body>
</html>