<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form action="/" method= "POST">
        <input type= "text" name="name" placeholder="Name(optional)">
        <br> 
        <input type="radio" name="sex" value="female"> Female
        <input type="radio" name="sex" value="male"> Male
        <input type="text" name="bg" placeholder="Ethnic Background">
        <input type="text" name="ilness" placeholder="Other major illnesses">
        <input type="text" name="meds" placeholder="Medications taken regularly">


    
</body>
</html>